
#wave {
    height: 70px;
    width: 70px;
    fill: #fff;
  }
  #Line_1 {
    animation: pulse 1s infinite;
    animation-delay: 1 * .15s;
  }
  #Line_2 {
    animation: pulse 1s infinite;
    animation-delay: 2 * .15s;
  }
  #Line_3 {
    animation: pulse 1s infinite;
    animation-delay: 3 * .15s;
  }
  @keyframes pulse {
    0% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
    
    50% {
      transform: scaleY(.7);
      transform-origin: 50% 50%;
    }
    
    100% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
  }
  .microphone-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    gap: 10px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #194a7a;
    border: 2px solid #d1dbe4;
    transform: scale(1);
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(25, 74, 122, 0.3); /* Drop shadow */
  }
  
  .microphone-button.listening {
    background-color: transparent;
    transform: scale(1.15);
    transition: all 0.3s ease;
  }
  .microphone-button.listening::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 40px;
    background: linear-gradient(45deg, #E15062, #194a7a, #4E80EE);
    z-index: -1;
    transition: all 0.3s ease;
    filter: blur(15px);
    opacity: 0.7;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
  .microphone-icon {
    width: 24px;
    height: 24px;
  }