.steps-view {
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
  }
  
  .step {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
  }
  
  .step.active {
    width: 273px;
    left: 0px;
    top: 0px;
    padding: 18px;
    background: #194a7a;
    border: 1px solid #d1dbe4;
    border-radius: 25px;
  }
  
  .step:not(.active) {
    width: 273px;
    height: 109px;
    background: transparent;
  }
  
  .step-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 273px;
  }
  
  .step-title {
    width: 273px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
  }
  
  .step.active .step-title {
    color: #fff;
  }
  
  .step:not(.active) .step-title {
    color: #0b243d;
  }
  
  .step-desc {
    width: 273px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: left;
  }
  
  .step.active .step-desc {
    color: #d1dbe4;
  }
  
  .step:not(.active) .step-desc {
    color: #194a7a;
  }
  
  .step-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    margin-bottom: 0px;
    align-self: flex-end;
  }
  
  .step.active .step-button {
    background: #E15062;
    border: 2px solid #d1dbe4;
  }
  
  .step:not(.active) .step-button {
    background: rgba(225, 80, 98, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
  
  