* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-view {
    flex: 0.5; 
    top: 0; 
    left: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #d1dbe4;
    box-shadow: 0px 5px 15px rgba(38, 10, 82, 0.5);
    padding-top: 30px;
    gap: 36px;
    flex: 0.75; 
    padding: 20px;
    max-width: 300px;
  }

  .steps-view {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0.625; 
    padding: 20px;
    background-color: #f0f0f0; 
    overflow-y: auto; 
    max-width: 500px;
    overflow: auto;
    animation: display 0.5s steps(1, jump-end);
    border-left: 2px solid grey;
  }

  .container {
    display: flex;
    height: 100vh; 
  }

